---
layout: default
title: Gallery
head-title: "-- Gallery"
order: 3
tag: All Work
---

{{ page.title }}

<section>
  {% assign links = site.pages %}
  {% for link in links %}
  {% if link.tag %}
  <a href="{{ link.url | absolute_url }}"
     class="{% if link.url  ==  page.url %}active{% endif %}">
    <button class="tag">{{ link.tag }}</button>
  </a>
  {% endif %}
  {% endfor %}
</section>

<section>

  {% for post in site.posts %}
  {% if post.category contains page.tag %}

  <div>
    <h4>{{ post.title }}</h4>
  </div>

  {% endif %}
  {% endfor %}

</section>
