@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* PAGE */
* {
  box-sizing: border-box;
  color: #353839;
  font-family: 'Inter', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  background-color: #DBAD58;
}

body {
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


section.home-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image {
  width: 800px;
  margin: 0 auto;

  max-width: 100%;
}

.gallery-tags-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  border-bottom: 1px solid;
  padding: 14px 0;
}

button.tag {
  width: 100px;
  border: 1px solid;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
  padding: 4px 12px;
}

a.active button.tag {
  font-weight: 700;
}

.gallery-listing {
  margin: 0;
}

.gallery-listing .toggler {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.open.gallery-listing .toggler {
  font-weight: 700;
}

.gallery-listing .panel {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s;
  margin: 0;
  background-color: lightgray;
}

.gallery-listing .panel p {
  padding: 8px;
  font-style: italic;
}

.gallery-listing .panel img {
  max-width: 600px;
  height: 100%;
  padding: 0 8px 8px 8px;
}



footer {
  border-top: 1px solid;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
}

/* TEXT */
::selection {
  color: white;
  background: #353839;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
 font-size: 14px;
 text-decoration: none;
 line-height: 1.45;
 font-weight: 400;
 margin: 0;
 padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

h2 {

}

h3 {

}

h4 {}

h5 {
  font-size: 12px;
}
p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

a {
  padding-left: 1em;
}
a:first-of-type {
  padding: 0;
}
a.active {
  font-weight: 700;
}

/* MOBILE */
@media screen and (max-width: 800px) {

}
