@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* PAGE */
* {
  box-sizing: border-box;
  color: #353839;
  font-family: 'Rubik', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

header a:hover {
  color: blue;
}

section.home-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  margin: 20px auto;
  width: 800px;
  max-width: 100%;
  height: auto;
}

.gallery-tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
  border-bottom: 1px solid;
  padding: 10px 0 0 0;
}

button.tag {
  width: auto;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 0;
  background-color: transparent;
  margin: 0 0 10px 0;
  padding: 4px 12px;
  cursor: pointer;
}

button.tag:hover,
a.active button.tag {
  color: blue;
}

.gallery-listing {
  margin: 0;
}

.gallery-listing .toggler {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  cursor: pointer;
}

.gallery-listing .toggler h4:first-of-type {
  padding-right: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.open.gallery-listing .toggler h4 {
  font-weight: 700;
}

.gallery-listing .panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s;
  margin: 0;
}

.gallery-listing .panel div {
  width: calc(50% - 14px);
}

.gallery-listing .panel div:last-of-type {
  border-top: 1px solid;
  padding-top: 20px;
}

.gallery-listing .panel img {
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
}

.gallery-listing .panel p {

}

footer {
  border-top: 1px solid;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
}

/* TEXT */
::selection {
  color: white;
  background: #353839;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
 font-size: 14px;
 text-decoration: none;
 line-height: 1.45;
 font-weight: 400;
 margin: 0;
 padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 0;
  border-top: 1px solid;
}

h2:first-of-type {
  border: none;
}

h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Noto Serif', serif;
}

h5 {
  font-size: 12px;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: #6A6F71;
}

p {
  font-family: 'Noto Serif', serif;
  text-align: justify;
  margin: 0 0 12px 0;
  color: #6A6F71;
}

a {
  padding-right: 10px;
}

a.active {
  font-weight: ;
  color: blue;
}

/* ANIMATIONS */
img {
  filter: grayscale(1) brightness(.35);
  transition: filter 1.2s;
}
img.animate {
  filter: grayscale(0) brightness(1);
}


/* MOBILE */
@media screen and (max-width: 800px) {
  body {
    padding: 14px;
    min-height: -webkit-fill-available;
  }

  header {
    flex-direction: column;
    padding-bottom: 8px;
  }

  header h1 {
    padding-bottom: 6px;
  }

  .gallery-listing .panel {
    flex-direction: column;
  }

  .gallery-listing .panel div {
    width: 100%;
  }


  .gallery-listing .panel img {
    width: 100%;
    height: auto;
    padding: 0 0 4px 0;
  }


  .gallery-listing .panel div:last-of-type {
    border-top: none;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid;
  }

}
